.square-container {
	margin: 0 auto;
	background-color: #ccc;
	width: calc(400px);
	height: calc(400px);
	border: 0px solid #000;

}

#wrapper {
 	padding: 15%;
}


.square {
	float: left;
	margin: 0;

	background-color: #fff;
	border: 1px solid #000;
}